@model List<ProjectAriel.Models.Card>

<h1>Cards</h1>

@for (int i = 0; i < 5; i++)
{
	<div id="card" class="card">
		@Html.DisplayFor(x => Model.ElementAt(i).Name)
	</div>
}

<div id="droppable" class="card green" >
	Drop Zone
</div>

@*@Scripts.Render(Links.Scripts.PageSpecific.Game.GameIndex_js)*@